/* Write your code here. */
.thumbnail-item-container {
  height: 80px;
  width: 80px;
  margin: 10px;
  list-style-type: none;
}
.thumbnail-image {
  height: 60px;
  width: 60px;
  border-radius: 10px;
}
.button {
  background-color: white;
  outline: none;
  border-style: none;
  padding: 0px;
}
